html {
    color: #212529;
}
/* input, textarea */
.zg-input {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.zg-textarea {
    display: block;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    width: 100%;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1)
}
input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #51b7ff;
}

/* button */
.zg-btn {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    border-color: #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.zg-btn:active {
    color: #3a8ee6;
    border-color: #3a8ee6;
    outline: none;
}
.zg-btn:focus,
.zg-btn:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}
.zg-btn.block {
    display: block;
    width: 100%;
}
.zg-btn-primary {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;
}
.zg-btn-success {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;
}
.zg-btn-info {
    color: #fff;
    background-color: #909399;
    border-color: #909399;
}
.zg-btn-warning {
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
}
.zg-btn-danger {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
}
.zg-btn-primary.is-plain {
    color: #409eff;
    background: #ecf5ff;
    border-color: #b3d8ff;
}
.zg-btn-success.is-plain {
    olor: #67c23a;
    background: #f0f9eb;
    border-color: #c2e7b0;
}
.zg-btn-info.is-plain {
    color: #909399;
    background: #f4f4f5;
    border-color: #d3d4d6;;
}
.zg-btn-warning.is-plain {
    color: #e6a23c;
    background: #fdf6ec;
    border-color: #f5dab1;
}
.zg-btn-danger.is-plain {
    color: #f56c6c;
    background: #fef0f0;
    border-color: #fbc4c4;
}
.zg-btn.is-plain:active {
    background: #fff;
    outline: none;
}
.zg-btn.is-plain:focus,
.zg-btn.is-plain:hover {
    background: #fff;
    border-color: #409eff;
    color: #409eff;
}
.zg-btn-primary.is-plain:active {
    background: #3a8ee6;
    border-color: #3a8ee6;
    color: #fff;
    outline: none;
}
.zg-btn-primary.is-plain:focus,
.zg-btn-primary.is-plain:hover {
    background: #409eff;
    border-color: #409eff;
    color: #fff;
}
.zg-btn-success.is-plain:active {
    background: #5daf34;
    border-color: #5daf34;
    color: #fff;
    outline: none;
}
.zg-btn-success.is-plain:focus,
.zg-btn-success.is-plain:hover {
    background: #67c23a;
    border-color: #67c23a;
    color: #fff;
}
.zg-btn-info.is-plain:active {
    background: #82848a;
    border-color: #82848a;
    color: #fff;
    outline: none;
}
.zg-btn-info.is-plain:focus,
.zg-btn-info.is-plain:hover {
    background: #909399;
    border-color: #909399;
    color: #fff;
}
.zg-btn-warning.is-plain:active {
    background: #cf9236;
    border-color: #cf9236;
    color: #fff;
    outline: none;
}
.zg-btn-warning.is-plain:focus,
.zg-btn-warning.is-plain:hover {
    background: #e6a23c;
    border-color: #e6a23c;
    color: #fff;
}
.zg-btn-danger.is-plain:active {
    background: #dd6161;
    border-color: #dd6161;
    color: #fff;
    outline: none;
}
.zg-btn-danger.is-plain:focus,
.zg-btn-danger.is-plain:hover {
    background: #f56c6c;
    border-color: #f56c6c;
    color: #fff;
}
.zg-btn.is-round {
    border-radius: 20px;
    padding: 12px 23px;
}
/* message */
.zg-message {
    min-width: 380px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ebeef5;
    position: fixed;
    left: 50%;
    top: 20px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #edf2fc;
    -webkit-transition: opacity .3s, -webkit-transform .4s;
    transition: opacity .3s, -webkit-transform .4s;
    transition: opacity .3s, transform .4s;
    transition: opacity .3s, transform .4s, -webkit-transform .4s;
    overflow: hidden;
    padding: 15px 15px 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.zg-message-icon {
    color: #909399;
    font-size: 24px;
}
.zg-message-content {
    padding: 0;
    font-size: 14px;
    line-height: 1;
    color: #909399;
}
.zg-message-closeBtn:focus,
.zg-message-content:focus {
    outline-width: 0;
}
.zg-message p {
    margin: 0;
}
.zg-message-closeBtn {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer;
    color: #c0c4cc;
    font-size: 16px;
}
.zg-message-fade-enter,
.zg-message-fade-leave-active {
    opacity: 0;
    -webkit-transform: translate(-50%,-100%);
    transform: translate(-50%,-100%);
}
.zg-message.is-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.zg-message-success {
    background-color: #f0f9eb;
    border-color: #e1f3d8
}
.zg-message-success .zg-message-content {
    color: #67c23a;
}
.zg-message-warning {
    background-color: #fdf6ec;
    border-color: #faecd8;
}
.zg-message-warning .zg-message-content {
    color: #e6a23c;
}
.zg-message-error {
    background-color: #fef0f0;
    border-color: #fde2e2;
}
.zg-message-error .zg-message-content {
    color: #f56c6c;
}
.zg-message-icon {
    margin-right: 10px;
}
.zg-message-closeBtn:hover {
    color: #909399;
}
.zg-message .zg-icon-success {
    color: #67c23a;
}
.zg-message .zg-icon-error {
    color: #f56c6c;
}
.zg-message .zg-icon-info {
    color: #909399;
}
.zg-message .zg-icon-warning {
    color: #e6a23c;
}



